@media (max-width: 480px) {
  /* Targets only phones */
  .desktop-buttons {
    display: none !important;
  }
}

h2#display-date {
  margin-bottom: 10px; /* Reduce space between date and buttons */
}

.text-center.my-3 {
  margin-bottom: 5px; /* Reduce space between buttons and hr */
}

hr {
  margin-top: 5px; /* Reduce space above the hr */
}

/* Default Light Theme */
body {
  background-color: white;
  color: black;
}

p {
  white-space: pre-wrap;
}

blockquote {
  margin-left: 20px; /* Adjust as needed */
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: white;
  }

  .btn-success {
    background-color: #2e7d32; /* Darker green */
    border-color: #2e7d32;
  }

  .btn-primary {
    background-color: #1565c0; /* Darker blue */
    border-color: #1565c0;
  }

  hr {
    border-color: white;
  }
}
